* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(18,18,18);
    background: linear-gradient(13deg, rgba(18,18,18,1) 0%, rgba(50,50,50,1) 40%, rgba(80,80,80,1) 76%, rgba(120,121,121,1) 100%);
    color: #d4f1f9;
    background-attachment: fixed;
}

h1 {
    text-align: center;
    margin: 30px;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    padding-left: 35px;
}

label {
    margin-bottom: 10px;
}
input {
    max-width: 50px;
    background-color: transparent;
    color: #d4f1f9;
}

button {
    align-self: flex-end;
    margin: 10px;
    border: none;
    background: linear-gradient(229deg, rgba(80,80,80,1) 0%, rgba(140,140,140,1) 100%);
    color: #d4f1f9;
    padding: 10px 15px;
    border-radius: 5px;
    transition:  all 0.35s ease-in-out;
}

button:hover {
    background: linear-gradient(229deg, rgba(34,193,195,1) 0%, rgba(0,255,204,1) 100%);
    color: #222;
    box-shadow: 0px 0px 10px rgba(0, 255, 204, 0.6);
}


#output {
    margin: 25px;
}

hr {
    margin-bottom: 20px;
}

h2 {
    margin: 20px;
}

#output p {
    margin-bottom: 10px;
}

.invalid {
    font-size: 30px;
    text-align: center;
}
